@import url('https://api.tiles.mapbox.com/mapbox-gl-js/v0.54.0/mapbox-gl.css');
@import './var.scss';

@font-face {
  font-family:'digital-clock-font';
  src: './fonts/digital.ttf';
}

html, body {
  margin: 0;
  background-color: #000;
  user-select: none;
  ::-webkit-scrollbar {
    width: 0;
  }
}

a.mapboxgl-ctrl-logo {
  margin-left: 350px;
  z-index: 2;
}
.mapboxgl-ctrl-bottom-right {
  display: none;
}
