$dashboard-width: 350px;
$dashboard-height: 150px;

$leftpanel-width: 350px;
$leftpanel-height: calc(100vh - 150px);

$timeline-width: calc(100vw - 350px);
$timeline-height: 150px;

$text-color-normal: rgb(248, 248, 249);

$panel-opacity: 0.95;
